@{
    ViewData["Title"] = "CSharbonara - Pair Programming Project";
}
<!-- main container-->
<div class="glass portfolio-container">
    <!--TODO - Position stuff properly on the page according to concept screens -->
    <!--Later TODO: UI tweaks - sliding menus, etc. -->
    <!--TODO - Style this index page!-->

    <div class="text-center glass logo-card">
        <h1 class="display-4">Csharbonara</h1>
        <h3>C# ASP.NET Development Team</h3>
        <div class="main-logo">
            <img src="img\logos\csharbonara-logo.png" alt="CSharbonara-Logo" />
        </div>

    </div>
    <div class="glass author-info">
        <div class="image-author">
            <img src="\img\photos\mandril.jpg" alt="Author-1-Photo" />
        </div>
        <div class="text-center">
            <p>Jan Bernardzik</p>
            <p>jan.bernardzik@gmail.com</p>
        </div>
        <!--TODO -> implement it in the way that this div will appear at full-screen only -> some Javascript is going to be involved, like onClick action or so.-->
        <div class="text-center">
            <p>
                This will be expandable so you can see further skills!
            </p>
        </div>
        <div class="image-logo text-center">
            <img src="img\logos\linkedin.png" alt="LinkedIn" />
        </div>
    </div>
    <div class="glass author-info">
        <div class="image-author">
            <img src="\img\photos\baboon.jpg" alt="Author-2-Photo" />
        </div>
        <div class="text-center">
            <p>Mateusz Redzimski</p>
            <p>m.m.redzimski@gmail.com</p>
        <!--TODO -> implement it in the way that this div will appear at full-screen only -> some Javascript is going to be involved, like onClick action or so.-->
            <p>
                This will be expandable so you can see further skills!
            </p>
        </div>
        <div class="image-logo text-center">
            <img src="img\logos\linkedin.png" alt="LinkedIn" />
        </div>
    </div>
    <div class="glass middle-column-item text-center">
        <h2>Our Projects</h2>
        <h3>Here you can find our sample projects we've been working on:</h3>
        <h4><a>Projects</a></h4>
    </div>
</div>

