@{
    ViewData["Title"] = "CSharbonara - Pair Programming Project";
}
<!-- main container-->
<div>
    <!--TODO - Position stuff properly on the page according to concept screens -->
    <!--Later TODO: UI tweaks - sliding menus, etc. -->
    <!--TODO - Style this index page!-->
    <div id="Author-1">
        <div>
            <img alt="Author-1-Photo" />
        </div>
        <!--TODO -> implement it in the way that this div will appear at full-screen only -> some Javascript is going to be involved, like onClick action or so.-->
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis mauris ac nunc eleifend, id fringilla neque mattis. Praesent vel congue nulla, at pulvinar libero. Morbi dapibus massa tempor commodo condimentum. Pellentesque enim nulla, tincidunt in quam vel, bibendum fringilla justo. Phasellus et elementum eros. Donec varius mollis arcu, a bibendum risus. Integer sed dui enim. Duis purus turpis, rutrum vel lacus et, placerat sollicitudin tellus. Etiam ac elementum est. Nulla suscipit, turpis in commodo aliquet, dui ligula ultrices lacus, elementum molestie lacus ex vel elit. Vestibulum eleifend, dolor sed tincidunt tincidunt, ligula ex lacinia turpis, sit amet finibus nisi purus ac dolor. Donec maximus dolor sit amet nunc tincidunt, interdum pharetra nisi commodo.
            </p>
        </div>
        <div>
            <img alt="LinkedIn" />
        </div>
    </div>

    <div class="text-center">
        <h1 class="display-4">C#bonara</h1>
        <div>
            <img alt="CSharbonara-Logo" />
        </div>
    </div>

    <div id="Author-2">
        <div>
            <img alt="Author-2-Photo" />
        </div>
        <!--TODO -> implement it in the way that this div will appear at full-screen only -> some Javascript is going to be involved, like onClick action or so.-->
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis mauris ac nunc eleifend, id fringilla neque mattis. Praesent vel congue nulla, at pulvinar libero. Morbi dapibus massa tempor commodo condimentum. Pellentesque enim nulla, tincidunt in quam vel, bibendum fringilla justo. Phasellus et elementum eros. Donec varius mollis arcu, a bibendum risus. Integer sed dui enim. Duis purus turpis, rutrum vel lacus et, placerat sollicitudin tellus. Etiam ac elementum est. Nulla suscipit, turpis in commodo aliquet, dui ligula ultrices lacus, elementum molestie lacus ex vel elit. Vestibulum eleifend, dolor sed tincidunt tincidunt, ligula ex lacinia turpis, sit amet finibus nisi purus ac dolor. Donec maximus dolor sit amet nunc tincidunt, interdum pharetra nisi commodo.
            </p>
        </div>
        <div>
            <img alt="LinkedIn" />
        </div>
    </div>
    <div>
        <h2>Some</h2>
        <h3>Sample</h3>
        <h4>Text</h4>
    </div>
</div>

